body {
  margin: 0; }

h1, h2, h3 {
  font-family: 'DINOT-CondBold';
  font-weight: bold;
  font-style: normal; }

header {
  position: fixed;
  width: calc(100vw - (2 * 50px));
  height: 25px;
  margin-left: 50px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header img {
    position: relative; }
  header .div-logo {
    position: relative;
    height: 30px;
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
    header .div-logo .logo {
      width: auto;
      height: 20px; }
  header .div-RS {
    position: relative;
    width: auto;
    padding-right: 2rem; }
    header .div-RS .RS {
      height: 20px;
      padding-right: 1rem; }
  header .div-burger {
    position: relative;
    width: auto; }
    header .div-burger .burger {
      width: 40px;
      height: 25px; }

.div-middle {
  position: absolute;
  height: 100vh;
  width: 100vw; }
  .div-middle h1 {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 0;
    margin: 0;
    opacity: 0.1;
    font-size: 30em;
    color: grey; }
  .div-middle .img-middle {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%; }

.div-about {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .div-about .div-top {
    position: relative;
    top: 10%;
    width: 90%;
    height: 30%;
    background: url(../img/picture-about.jpg) no-repeat;
    background-position: 50% 50%;
    -webkit-box-shadow: inset 100vh 100vw rgba(0, 0, 0, 0.2);
    box-shadow: inset 100vh 100vw rgba(0, 0, 0, 0.2);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2); }
    .div-about .div-top .div-droite, .div-about .div-top .div-gauche {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white; }
    .div-about .div-top .div-gauche {
      font-size: 1.5em; }
    .div-about .div-top .div-droite {
      font-size: 2em; }
