body{
  margin: 0;
}

header{
  position: fixed;
  width: calc(100vw - (2 * 50px));
  height: 25px;
  margin-left: 50px;
  top: 50px;
  display: flex;

  img{
    position: relative;
  }

  .div-logo{
    position: relative;
    height: 30px;
    flex-grow: 1!important;

    .logo{
      width: auto;
      height: 25px;
    }

  }

  .div-RS{
    position: relative;
    width: auto;
    padding-right: 2rem;

    .RS{
      height: 25px;
      padding-right: 1rem;
    }
  }

  .div-burger{
    position: relative;
    width: auto;

    .burger {
      width: 40px;
      height: 30px;
    }
  }
}

.div-middle{
  position: absolute;
  height: 100vh;
  width: 100vw;

  h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    padding: 0;
    margin:0;
    opacity: 0.1;
    font-size: 30em;
    font-family: 'DINOT-CondBold';
    font-weight: bold;
    font-style: normal;
    color: red;
  }

  .img-middle{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;

    img{
    }
  }

}
