body{
  margin: 0;
  display: flex;
  justify-content: center;
}

body.body--hidden {
  overflow: hidden;
  font-family: 'DINOT-Regular'
}

.titre-section > span{
  font-family: 'DINOT-CondBold';
  font-weight: bold;
  font-style: normal;
  letter-spacing: 50px;
  color: rgba(74, 74, 74, 0.1);
}

h1, h2, h3, a{
  font-family: 'DINOT-CondBold';
  font-weight: bold;
  font-style: normal;
}

p{
  color: #4A4A4A;
  font-family: 'DINOT-regular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.125em;
}

header{
  position: fixed;
  width: calc(100vw - (2 * 5%));
  height: 10%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: width 0.4s ease-out;
  z-index: 999;
  > div {
    position: relative;
    z-index: 1;
  }

  img{
    position: relative;
  }

  .div-logo{
    position: relative;
    height: 30px;
    flex-grow: 1!important;

    .logo{
      width: auto;
      height: 20px;
    }

  }

  .picto-header{
    display: flex;

    .div-RS{
      position: relative;
      width: auto;
      padding-right: 2rem;

      .RS{
        height: 20px;
        padding-right: 1rem;
      }
    }

    .div-burger,
    .div-closecross{
      position: relative;
      width: auto;

      svg {
        width: auto;
        height: 25px;
      }
    }
  }
}

.div-middle{
  position: absolute;
  height: 100vh;
  width: 100vw;

  h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    padding: 0;
    margin:0;
    opacity: 0.1;
    font-size: 30em;
    color: grey;
  }

  .img-middle{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;

    img{
    }
  }
}

    // WORK

.div-top-work{
  top: 10%;
  width: 90%;
  height: 30%;
  background: url(../img/picture-work.jpg) no-repeat;
  background-position: 50% 80%;
  box-shadow: inset 100vh 100vw rgba(0,0,0,0.2);
  background-size: cover;
  display: flex;

  .div-droite, .div-gauche{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .div-gauche{
    font-size: 1.5em;
  }

  .div-droite{
    font-size: 2em;
  }
}

.container-fluid {
  position: relative;
  width: 90%;
  height:  calc(70% - (50px));
  display: flex;
  top: 50px;


  .nbr{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 100%;
    text-decoration: none;

    .nbr-work{
      cursor: pointer;
    }


    p.nbr-work{
      color: #4A4A4A;
      opacity: 0.1;
      font-family: 'DINOT-CondBold';
      font-weight: bold;
      font-style: normal;
      font-size: 5em;
      position: relative;
      &::after{
        content: '';
        width: 2px;
        height: 2.5rem;
        display: inline-block;
        background-color: #4A4A4A;
        margin-left: 1rem;
        position: relative;
      }
    }

    p.active{
      opacity: 1;
      &::after{
        content: '';
        height: 5rem;
        top: 0.750rem;
      }
    }


  }

  .projects{
    position: relative;
    width: 85%;
    height: auto;

    .project{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      &.current {
        z-index: 1;
      }
      .div-img-project{
        z-index: 1;
        position: relative;
        height: auto;
        flex: 1;
        overflow: hidden;

        .img-project{
          position: relative;
          transform: translateX(-100%);
          opacity: 0;
          z-index: 2;
          transition: opacity 0.4s ease, transform 0s ease 0.4s;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .img-project1{
          background-image: url(../img/work/work01.jpg);
          background-position: 50% 50%;
        }

        .img-project2{
          background-image: url(../img/work/work02.jpg);
          background-position: 15% 50%;
        }

        .img-project3{
          background-image: url(../img/work/work03.png);
          background-position: 50% 50%;
        }

        .img-project4{
          background-image: url(../img/work/work04.jpg);
          background-position: 50% 50%;
        }

        .img-project5{
          background-image: url(../img/work/work05.png);
          background-position: 50% 50%;
        }

        .img-project6{
          background-image: url(../img/work/work06.png);
          background-position: 50% 50%;
        }

        .img-project7{
          background-image: url(../img/work/work07.jpg);
          background-position: 50% 50%;
        }

        .img-project8{
          background-image: url(../img/work/work08.jpg);
          background-position: 50% 50%;
        }

        .img-project9{
          background-image: url(../img/work/work09.png);
          background-position: 50% 50%;
        }

        .img-project10{
          background-image: url(../img/work/work10.jpg);
          background-position: 50% 50%;
        }

        .img-project11{
          background-image: url(../img/work/work11.jpg);
          background-position: 50% 50%;
        }

        .img-project12{
          background-image: url(../img/work/work12.jpg);
          background-position: 50% 50%;
        }
      }

      .description{
        width: 50%;
        padding-left: 40px;
        padding-top: 30px;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.4s ease, transform 0s ease 0.4s;

        h3:first-child{
          font-size: 4em;
          color: #4A4A4A;
          padding-bottom: 30px;
          &::after{
            content: '';
            width: 5rem;
            height: 2px;
            display: block;
            background-color: #4A4A4A;
            top: 20px;
            position: relative;
          }
        }

        .bouton-project{
          position: relative;
          height: 40px;
          width: 150px;
          border: 2px solid rgba(74, 74, 74, 0.1);
          background-color: rgba(74, 74, 74, 0);
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          text-decoration: none;
          margin-top: 50px;

          .jauge-remplissage{
            transition: all 0.2s linear;
            background-color: rgba(74, 74, 74, 0.1);
            width: 0;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            }

          .txt-btn{
            z-index: 1;
            letter-spacing: 2px;
            font-size: 1.125em;
            font-family: 'DINOT';
            font-weight: normal;
            font-style: normal;
            margin-bottom: 5px;
          }

          img{
            height: 10px;
          }
        }

        .bouton-project:hover .jauge-remplissage{
        width: 100%;
        }
      }
    }
  }

  .project.current{
    .img-project, .description{
      transform: translateX(0) !important;
      opacity: 1 !important;
      transition: 0.8s !important;
    }

    .description{
      transition: 0.8s 0.4s !important;
    }
  }
}


// ABOUT

article{
top: 10%;
position: absolute;
height: calc(100vh - (10%));
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;

  .content-article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .div-top-about{
  top: 10%;
  width: 90%;
  height: 30%;
  background: url(../img/picture-about.jpg) no-repeat;
  background-position: 50% 50%;
  box-shadow:inset 100vh 100vw rgba(0,0,0,0.2);
  background-size: cover;
  display: flex;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);


    .div-droite, .div-gauche{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    }

    .div-gauche{
      font-size: 1.5em;
    }

    .div-droite{
      font-size: 2em;
    }
  }

  .txt-about{
  margin-top: 50px;
  width: 70%;
  height: 45%;

    p:first-child{
      font-family: 'DINOT';
      font-weight: bold;
      font-style: normal;
      font-size: 2em;
    }
  }
}


    // CAREER

.div-top-career{
  top: 10%;
  width: 90%;
  height: 30%;
  background: url(../img/picture-career.jpg) no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  display: flex;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);

  .div-droite, .div-gauche{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .div-gauche{
    font-size: 1.5em;
  }

  .div-droite{
    font-size: 2em;
  }

}

.container-fluid-career {
  position: relative;
  width: 90%;
  height: 70%;
  display: flex;
  }

// CAREER
/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 4em 0;
  list-style-type: none;
  overflow: hidden;
  overflow: scroll;
}

.timeline:before {
  position: absolute;
  left: 20%;
  top: 0;
  content: ' ';
  display: block;
  width: 1px;
  height: 150%;
  margin-left: 0;
  background: #4A4A4A;
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: calc(20% - 30px);
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: calc(80% - 30px);
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
}

.flag {
  position: relative;
  display: inline;
  padding: 6px 10px;
  text-align: left;
}

.flag-wrapper > strong,
.flag-wrapper > span > strong{
  font-size: 1.125em;
}

.flag-wrapper > span > strong{
  margin-right: 25px;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -37px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -7px;
  background: whitesmoke;
  border-radius: 10px;
  border: 1px solid #4A4A4A;
  z-index: 10;
  box-sizing: initial;
  transition: ease 0.2s;
  transform-origin: center;
}

.anim-flagtext:hover .flagtext:before{
  transform: scale(1.2);
  transition: ease 0.2s;
  border-radius: 12px;

}


.direction-r .flag:before {
  left: -37px;
}
.direction-l .flag.year:before,
.direction-r .flag.year:before {
  background: #4A4A4A;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: #4A4A4A;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
  width: 100%;
  padding: 4em 0 1em 0;
}

.timeline li {
  padding: 2em 0;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;

  text-align: center;
}

.flag-wrapper {
  text-align: center;
}

.flag {
  z-index: 15;
}


.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(245,245,245);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);

  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;

  z-index: 15;
}

}

@media screen and (min-width: 400px) and (max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

// GALLERY

.div-top-gallery{
  top: 10%;
  width: 90%;
  height: 30%;
  background: url(../img/picture-gallery.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  box-shadow:inset 100vh 100vw rgba(0,0,0,0.2);
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);

  .div-droite, .div-gauche{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .div-gauche{
    font-size: 1.5em;
  }

  .div-droite{
    font-size: 2em;
  }
}

// .photos-galerie{
//   height: auto;
//   display: block;
//   margin: 20px;
//   box-sizing: border-box;
// }
// .photos-galerie .grid-item,
// .photos-galerie .grid-sizer {
//   width: 33.333%;
//   box-sizing: border-box;
// }
// .photos-galerie .grid-item {
//   float: left;
//   padding: 7px 7px 4px 7px;
// }
// .photos-galerie .grid-item--width2 {
//   width: 66.666%;
// }
// .photos-galerie > img{
// }
// .photos-galerie .grid-item img {
//   max-width: 100%;
//   height: auto;
// }


    // FOOTER

footer{
  position: fixed;
  width: calc(100vw - (2 * 5%));
  height: 10%;
  display: flex;
  align-items: center;
  bottom: 0;
  justify-content: space-between;

  .dots{
    width: auto;
    display: flex;
    justify-content: space-between;

    .dot{
      margin-left: 10px;
      height: 10px;
      width: 10px;
      border-radius: 15px;
      background-color: grey;
    }
    .dot:first-child{
      margin-left: 0;
    }
  }

  a{
    position: relative;
    font-size: 1.5em;
  }
}
