body{
  margin: 0;
  display: flex;
  justify-content: center;
}

body.body--hidden {
  overflow: hidden;
}

h1, h2, h3, a{
  font-family: 'DINOT-CondBold';
  font-weight: bold;
  font-style: normal;
}

p{
  color: #4A4A4A;
  font-family: 'DINOT';
  font-weight: normal;
  font-style: normal;
}

header{
  position: fixed;
  width: calc(100vw - (2 * 5%));
  height: 10%;
  display: flex;
  align-items: center;

  img{
    position: relative;
  }

  .div-logo{
    position: relative;
    height: 30px;
    flex-grow: 1!important;

    .logo{
      width: auto;
      height: 20px;
    }

  }

  .picto-header{
    display: flex;

    .div-RS{
      position: relative;
      width: auto;
      padding-right: 2rem;

      .RS{
        height: 20px;
        padding-right: 1rem;
      }
    }

    .div-burger{
      position: relative;
      width: auto;

      .burger {
        width: 40px;
        height: 25px;
      }
    }
  }
}

.div-middle{
  position: absolute;
  height: 100vh;
  width: 100vw;

  h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    padding: 0;
    margin:0;
    opacity: 0.1;
    font-size: 30em;
    color: grey;
  }

  .img-middle{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;

    img{
    }
  }
}


    // ABOUT

article{
  top: 10%;
  position: absolute;
  height: calc(100vh - (10%));
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .div-top-about{
    top: 10%;
    width: 90%;
    height: 30%;
    background: url(../img/picture-about.jpg) no-repeat;
    background-position: 50% 50%;
    box-shadow:inset 100vh 100vw rgba(0,0,0,0.2);
    background-size: cover;
    display: flex;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);

    .div-droite, .div-gauche{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .div-gauche{
      font-size: 1.5em;
    }

    .div-droite{
      font-size: 2em;
    }
  }

  .txt-about{
    margin-top: 50px;
    width: 70%;
    height: 45%;

    p:first-child{
      font-family: 'DINOT';
      font-weight: bold;
      font-style: normal;
      font-size: 2em;
    }
  }
}

    // WORK

.div-top-work{
  top: 10%;
  width: 90%;
  height: 30%;
  background: url(../img/picture-work.jpg) no-repeat;
  background-position: 50% 8%;
  box-shadow:inset 100vh 100vw rgba(0,0,0,0.2);
  background-size: cover;
  display: flex;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.2);

  .div-droite, .div-gauche{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .div-gauche{
    font-size: 1.5em;
  }

  .div-droite{
    font-size: 2em;
  }
}

.container-fluid {
  position: relative;
  width: 90%;
  height: calc(70% - (50px));
  display: flex;
  top: 50px;

  .nbr{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p:first-child{
      color: #4A4A4A;
      font-family: 'DINOT-CondBold';
      font-weight: bold;
      font-style: normal;
      font-size: 5em;
      position: relative;
      &::after{
        content: '';
        width: 2px;
        height: 5rem;
        display: inline-block;
        background-color: #4A4A4A;
        margin-left: 1rem;
        top: 0.750rem;
        position: relative;
      }
    }

    p:nth-child(n+2){
      color: #4A4A4A;
      opacity: 0.1;
      font-family: 'DINOT-CondBold';
      font-weight: bold;
      font-style: normal;
      font-size: 5em;
      position: relative;
      &::after{
        content: '';
        width: 2px;
        height: 2.5rem;
        display: inline-block;
        background-color: #4A4A4A;
        margin-left: 1rem;
        position: relative;
      }
    }
  }

  .img-project{
    width: 35%;
    height: auto;

    .work1{
      width: auto;
      height: 100%;
      background: url(../img/work01.jpg) no-repeat;
      background-position: 15% 50%;
      background-size: cover;
    }
  }

  .description{
    width: 50%;

    h3:first-child{
      font-size: 3em;
      position: relative;
      color: #4A4A4A;
      &::after{
        content: '';
        width: 5rem;
        height: 2px;
        display: inline-block;
        background-color: #4A4A4A;
        top: 2rem;
        left: 0;
        position: relative;
      }
    }
  }
}

    // FOOTER

footer{
  position: fixed;
  width: calc(100vw - (2 * 5%));
  height: 10%;
  display: flex;
  align-items: center;
  bottom: 0;
  justify-content: space-between;

  .dots{
    width: auto;
    display: flex;
    justify-content: space-between;

    .dot{
      margin-left: 10px;
      height: 10px;
      width: 10px;
      border-radius: 15px;
      background-color: grey;
    }
    .dot:first-child{
      margin-left: 0;
    }
  }

  a{
    position: relative;
    font-size: 1.5em;
  }
}
